[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Name=poom
Version=1.0
Name=poom
Exec=gzdoom
Terminal=true
Icon=doom-builder
Type=Application
Categories=Game;
